@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #e6f2ff 0%, #ffffff 50%, #ccf2f4 100%);
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.wrapper {
  width: 1280px;
  margin: 40px auto;
}

.header {
  padding: 36px 0;
  position: relative;
}

.container {
  width: 1280px;
  margin: 40px auto;
}

.maim {
  overflow: hidden;
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
}

/* .header .logo {
    font-weight: 600;
    font-size: 30px;
} */

.logo img {
  max-width: 129px;
  vertical-align: bottom;
}

.menu {
  margin-left: 177px;
  margin-right: 47px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 65px;
  margin-left: auto;
}

.menu ul a {
  font-size: 14px;
  color: #5e5b5b;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: color, opacity 500ms ease;
}

.menu ul a:hover {
  color: #a3b7db;
  opacity: 1.5;
}

.shop-cart-btn {
  position: relative;
  float: inline-start;
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.2s ease, transform 500ms ease;
  z-index: 20;
}

.shop-cart-btn:hover,
.shop-cart-btn.active {
  color: #c10d0d;
  transform: scale(2.5);
}

.shop-cart {
  position: absolute;
  top: 100px;
  margin-top: 60px;
  right: 20px;
  width: 450px;
  min-height: initial;

  background: #9cd6e3;
  -webkit-box-shadow: 4px 5px 15px -7px;
  box-shadow: 4px 5px 15px -7px #606060;
  padding: 10px;
  z-index: 10;

  padding: 20px;
  padding-bottom: 0;
}

.shop-cart .empty h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.shop-cart .product-item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.shop-cart .product-item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

.shop-cart .product-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.shop-cart .product-item p {
  color: #797979;
  margin-bottom: 10px;
}

.shop-cart-delete-icon {
  color: #c10d0d;
  float: right;
  position: relative;
  top: -45px;
  cursor: pointer;
  transition: color 0.2s ease, transform 500ms ease;
}

.shop-cart-delete-icon:hover {
  color: #ae0a0a;
  transform: scale(2.5);
}

.amount {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-controls button {
  width: 30px;
  height: 30px;
  font-weight: bold;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-controls span {
  min-width: 20px;
  text-align: center;
}

.presentation {
  margin: 50px 0;
  background-image: url("./images/background.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

.header .presentation::after {
  content: "Лучшие товары для ВАШЕГО зрения";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 800;
  color: #d5d7de;
}

.header .presentation::before {
  content: "по самым низким ценам";
  position: absolute;
  top: 300px;
  left: 50px;
  width: 300px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.categories div {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #a6cbef;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.product {
  width: 30%;
  margin-bottom: 50px;
  background: #a3d4d6;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

.product img:hover {
  transform: scale(1.05);
}

.product h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 15px 5px;
  color: #333;
}

.product p {
  font-size: 14px;
  margin: 5px 15px;
  color: #666;
}

.product b {
  font-size: 16px;
  margin: 10px 15px 0;
  color: #5fa36a;
  display: block;
}

.product .add-to-cart {
  position: absolute;
  right: 20px;
  width: 128px;
  height: 38px;
  margin-right: 30px;
  bottom: 20px;
  text-align: center;
  line-height: 35px;
  background-color: #0077cc;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 500ms ease;
}

.product .add-to-cart:hover {
  background-color: #c2a212;
  transform: scale(1.5) translateY(-2px);
}

.about-us {
  padding: 60px 0;
  background: linear-gradient(to right, #e6f2ff 0%, #ffffff 50%, #ccf2f4 100%);
  /* background-color: #92defc; */
  border-radius: 12px;
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.about-us-text {
  flex: 1;
  min-width: 300px;
}

.about-us-text h1 {
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  color: #2280de;
}

.about-us-text p {
  font-size: 18px;
  line-height: 1.6;
  text-transform: initial;
  margin-bottom: 15px;
  padding: 10px;
  margin: 10px;
  color: #333;
}

.about-us-image {
  flex: 1;
  min-width: 300px;
  right: 225px;
}

.about-us-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-section {
  position: relative;
  padding: 180px 0;
  z-index: 1;
}

.contact-section .container {
  position: relative;
  z-index: 2;
}

.common-title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
  color: #003366;
}

.common-title span {
  color: #0077cc;
}

.contact-block {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 103px;
  background: linear-gradient(to right, #e6f2ff 0%, #ffffff 50%, #ccf2f4 100%);
  backdrop-filter: blur(50px);
}

.contact-form {
  flex: 1 1 400px;
  background: linear-gradient(to right, #e6f2ff 0%, #ffffff 50%, #ccf2f4 100%);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.contact-form-text {
  font-size: 18px;
  margin-bottom: 30px;
  color: #444;
  line-height: 1.5;
}

.contact-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-inputs input,
.contact-form-inputs textarea {
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: inherit;
  transition: border-color 0.3s;
}

.contact-form-inputs input:focus,
.contact-form-inputs textarea:focus {
  border-color: #0077cc;
  outline: none;
}

::placeholder {
  color: rgba(52, 43, 43, 0.572);
}

.submit-btn {
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  background-color: #8db1ca;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form-inputs .submit-btn {
  width: 287px;
  height: 51px;
}

.submit-btn:hover {
  background-color: #005fa3;
}

.contact-block-image {
  height: 401px;
  margin-left: 109px;
}

.contact-optics {
  height: 589px;
  top: -88px;
  position: relative;
}

.contact-bg-image {
  position: absolute;
  top: -50px;
  right: calc(100% - 1200px);
  z-index: -1;
  /* top: 0; */
  left: -250px;
  opacity: 0.1;
  /* width: 100%;
  height: auto; */
  /* z-index: 0; */
  pointer-events: none;
}

/* Футер */
.footer {
  padding: 10px 0;
  border-top: 1px solid #5f5f5f;
  background-color: #e9f4fb;
  border-top: 2px solid #0077cc;
  color: #333;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding: 0 20px; /* Добавляем внутренние отступы слева и справа */
}

/* Иконки соцсетей */
.social-icons {
  display: flex;
  gap: 20px;
}

.icon-button {
  background: none;
  border: none;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-btn:hover {
  transform: scale(2.2);
  border-color: #0077cc;
  color: #0077cc;
  box-shadow: 0 0 8px rgba(0, 119, 204, 0.3);
}

.social-icons [aria-label="Telegram"] svg {
  color: #0088cc;
}
.social-icons [aria-label="WhatsApp"] svg {
  color: #25D366;
}
.social-icons [aria-label="VK"] svg {
  color: #4c75a3;
}


.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 45px;  
}
.rights {
  font-size: 14px;
  line-height: 90%;
  letter-spacing: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #6c6363;
}

.address {
  font-size: 14px;
  line-height: 90%;
  letter-spacing: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #7e7979;
  text-align: center;
}

/* Кнопка */
.footer-btn {
  display: inline-block;
  margin-top: 5px;
  padding: 8px 20px;
  background-color: #ffffff;
  color: #111;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-right: 20px; /* Добавляем внешний отступ справа для кнопки */
}

.footer-btn:hover {
  background-color: #f6f1f1;
  color: #000;
}

/* Адаптивность */
@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .menu {
    margin-left: 0;
    margin-right: 0;
  }

  .menu ul {
    flex-wrap: wrap;
    gap: 20px;
  }

  .products {
    flex-wrap: wrap;
    gap: 20px;
  }

  .product {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .products {
    flex-wrap: wrap;
    gap: 10px;
  }

  .product {
    width: 100%;
  }
}

/* Контейнер модального окна */
.full-product-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 70%; /* Адаптация ширины */
  max-width: 500px; /* Максимальная ширина окна */
  text-align: center;
}

/* Изображение товара */
.full-product-modal img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.full-product-modal img:hover {
  opacity: 0.8;
}

/* Заголовок товара */
.full-product-modal h2 {
  font-size: 1.5em;
  margin-top: 15px;
  color: #4caf50;
}

/* Описание товара */
.full-product-modal p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Цена товара */
.full-product-modal b {
  font-weight: bold;
  font-size: 1.2em;
  color: #ff5722;
}

/* Кнопка заказа */
.add-to-cart {
  position: absolute;
  right: 20px;
  width: 128px;
  height: 38px;
  margin-right: 30px;
  bottom: 20px;
  text-align: center;
  line-height: 35px;
  background-color: #49dc18;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 500ms ease;
}

.add-to-cart:hover {
  background-color: #457fa0;
  transform: scale(1.5) translateY(-2px);
}

.main-button {
  padding: 10px 20px;
  margin: 20px;
  margin-left: 160px; /* Сместить кнопку вправо */
  background-color: #004aad;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.main-button:hover {
  background-color: #003b8a;
}

.order-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f7f7f7;
  /* был white */
  border: 2px solid #ccc;
  padding: 30px;
  z-index: 1000;
  width: 400px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: sans-serif;
}

.order-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #222;
}

.order-form form {
  display: flex;
  flex-direction: column;
}

.order-form input,
.order-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
}

.order-form .form-button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #004aad;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.order-form .form-button:hover {
  background-color: #003b8a;
}

.order-form .close-button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #d32f2f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.order-form .close-button:hover {
  background-color: #b71c1c;
}
